src/main/mule/cicd-connected-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e68871f6-8080-4c20-8c1e-828abe9d3d28" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-connected-applicationFlow" doc:id="66898e1d-f46c-4faf-97dd-2c9446b23cde" >
		<http:listener doc:name="Listener" doc:id="09f2b965-560d-4b66-80ae-7d6e5da38364" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="7df70831-7b11-4289-947a-659dd6fb832d" message="flow start"/>
		<ee:transform doc:name="Transform Message" doc:id="6d5dadef-ed4f-457d-8315-160acf632798" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"message": "it is successful"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4ba5c762-7a13-418a-a835-58c8f880f01f" message="#[payload]"/>
	</flow>
</mule>
